@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}

.App{
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right bottom, rgba(252, 14, 14, 0.804),rgba(57, 23, 169, 0.826),rgba(9, 187, 62, 0.799))
}



/* Navbar Styling */
.items {
    text-align: center;
}

.category{
    border: none;
    outline: none;
    padding: 1rem 3rem;
    text-transform: capitalize;
    font-family: 'Lobster', cursive;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.772);
    background-color: #b7a5a5;
}
.category:first-child{
    border-bottom-left-radius: 1rem;
}
.category:last-child{
    border-bottom-right-radius: 1rem;
}
.category:hover,
.category:focus{
    color: rebeccapurple;
    box-shadow: inset 0px -20px 0px -15px rgb(36, 237, 0);
   
}

/* Utility Classes */
.font-30{
    font-size: 3rem;
}
.font-20{
    font-size: 2rem;
}
.font-15{
    font-size: 1.5rem;
}
.item{
    margin-bottom: 0.3em;
}


/* Card Component Styling */

.container{
    max-width: 100%;
    min-height: 100%;
    margin: 2rem;
    box-shadow: 1px 1px 5px 2px rgba(5, 5, 5, 0.804);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.cards{
    width: 350px;
    min-height: 500px;
    margin: 2em;
    box-shadow: 4px 4px 10px 3px #04040433;
    position: relative;
    
}
.card-body{
    padding: 1rem;
}

.item-number{
    margin: 0.5rem 0 0.5em 0.5em;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    padding: 0.1em;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    width: 25px;
}
.item-name{
    text-transform: uppercase;
    font-weight: 700;
}

.images{
    width: 100%;
    height: 300px;
    padding: 1rem;
    overflow: auto;
    border: 1px dotted rgb(189, 188, 188);
    background-position: center;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
}
.item-category{
    text-transform: capitalize;
    font-weight: bold;
}

.card-oreder{
    padding: 0.1em 0.2em;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    color: rgb(53, 11, 11);
    box-shadow: 1px 1px 5px 2px rgba(5, 5, 5, 0.804);
    cursor: pointer;
}

